<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <!-- <system.web> -->
      <!-- <compilation debug="true" targetFramework="4.5" /> -->
      <!-- <httpRuntime targetFramework="4.5" /> -->
        <!-- <customErrors mode="Off" /> -->
    <!-- </system.web> -->
    <system.webServer>
    <defaultDocument>
      <files>
        <add value="FCAV.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
    <system.web>
        <customErrors defaultRedirect="https://fcav.uat.edu.mx/Error.html" mode="On" />
    </system.web>

</configuration>
